.admin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.admin__title {
  margin-bottom: 1em;
}

.admin__container {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 98%;
}
