.signin {
  box-sizing: border-box;
  padding: 2em;
  background-color: #20b35d;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  form {
    input {
      display: block;
      margin-bottom: 2em;
      padding: 1em 1.5em;
      border: none;
      border-radius: 5px;
      &:focus {
        outline: none;
        box-shadow: 2px 2px 0px #116936;
      }

      &:last-child {
        margin-left: auto;
        margin-bottom: 0;
        padding: 0.5em 1em;
        background-color: #fff;
        color: #20b35d;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;
        &:hover {
          color: #116936;
        }
        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}
